<?xml version="1.0" encoding="UTF-8"?>
<container type="CT1" id ="PNLMVP">
	<modulelist>		
		<module
			name="NLP Component"
			id="pnl.nlp.comp"
			version="1.0.0"
			provider-name="PNL"
			class="com.pnl.component.nlp.NLPComponent">
	
	 		<requires>
		 		<jarFolder location="d://storageJar" />
				<import module="baseComponent.jar"/>
			</requires>
		    <runtime>
				<library name="testworld.jar"/>	
		    </runtime>
		    <maintenance>
		    </maintenance>
		</module>
		<module
			name="Rendering Component"
			id="id.rendering"
			version="1.0"
			provider-name="Oxyent"
			class="com.oxymedical.component.renderer.RendererComponent">
	
	 		<requires>
			<import module="org.eclipse.core.resources"/>
			<import module="org.eclipse.ui"/>
		    </requires>
	
		    <runtime>
			<library name="testworld.jar"/>	
		    </runtime>
	
		    <maintenance>
		     </maintenance>
		</module>	
		
		<module
			name="Database Component"
			id="dbCompnent"
			version="1.0"
			provider-name="Oxyent"
			class="com.oxymedical.component.db.DBComponent">
	
	 		<requires>
			<import module="org.eclipse.core.resources"/>
			<import module="org.eclipse.ui"/>
		    </requires>
	
		    <runtime>
			<library name="testworld.jar"/>	
		    </runtime>
	
		    <maintenance>
		    </maintenance>
		</module>		
	</modulelist>
</container>
